body {
	font: small/1.6em Verdana, Helvetica, Arial, sans-serif;
	background-color: #E5E4E0;
}

h1, h2 {
  color: #5D9FC1;
}

h1 {
	font-size: 150%;
}

h2 {
	font-size: 130%;
}

q {
  font-style: italic;
}

#headfirst a:link {
  color: #333333;
}

#headfirst a:visited {
  color: #333333;
}

#headfirst a:hover {
	color: #5D9FC1;
}

#allcontent {
	width: 90%;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
}

#tableContainer {
	display: table;
	border-spacing: 10px;
}

#tableRow {
	display: table-row;
}

#header {
	background-color: #FFFFFF;
	padding: 10px;
	margin: 0px 10px 0px 10px;
}

#main {
	background-color: #FFFFFF;
	display: table-cell;
	padding: 10px;
	vertical-align: top;
}
#headfirst {
	background-color: #FFFFFF;
	display: table-cell;
	width: 250px;
  padding: 10px;
  text-align: center;
	vertical-align: top;
}

#footer {
	background-color: #FFFFFF;
	padding: 10px;
	margin: 0px 10px 10px 10px;
	font-size: 50%;
	line-height: normal;
	text-align: center;
}
